# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage

# Build
/build
/dist
/.opt-in

# Generated translation files
/translations
/locale

# Other generated source
/src/generated

# Downloaded during "npm install" / "npm ci"
/static/microbit

# for actions
.secret
.secrets

# protect against any lily oopsies
/scratch-vm
/scratch-blocks
/scratch-render
/scratch-svg-renderer
/scratch-storage
/addons